// Colors
$vvl-bg: #F3F2ED !default;
$vvl-color-theme: #BFAF98 !default;
$vvl-color-theme-5: rgba(191, 175, 152, 0.9) !default;
$vvl-color-mask-brown-1: #9C8E68 !default;
$vvl-color-brown-1-9: rgba(156, 142, 104, 0.9) !default;
$vvl-color-mask-brown-2: #877A58 !default;

$vvl-color-font-brown: #786D5C !default;
$vvl-color-font-2: #424753 !default;
$vvl-color-font: #FFFFFF !default;

$vvl-color-chart-bar: #DDDDDD !default;
$vvl-color-chart-line: #D8D8D8 !default;
$vvl-color-chart-bar-over: #9C8E68 !default;



