<header>
    <div class="container-fluid">
        <div class="sticky-header">
            <div class="row">
                <div class="col-md-6 header-left">
                    <div class="logo">
                        <img src="style/images/logo.png">
                    </div>
                </div>
                <div class="col-md-6">
                    <nav>
                        <ul>
                            <li><a ng-click="goto('vvl-top')"><h5 ng-class="{active: activeNavBtn=='vvl-top'}">唯渥乐奇雅 </h5></a></li>
                            <li><a ng-click="goto('vvl-history')"><h5 ng-class="{active: activeNavBtn=='vvl-history'}">历史</h5></a></li>
                            <li><a ng-click="goto('vvl-user-case')"><h5 ng-class="{active: activeNavBtn=='vvl-user-case'}">相信</h5></a></li>
                            <li><a ng-click="goto('vvl-nutrition')"><h5 ng-class="{active: activeNavBtn=='vvl-nutrition'}">营养</h5></a></li>
                            <li><a ng-click="goto('vvl-join')"><h5 ng-class="{active: activeNavBtn=='vvl-join'}">加入</h5></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>