<div class="vvl-nutrition">
    <div class="nutrition-components">
        <h2>营养成分</h2>
        <h4>奇雅子营养丰富，含有大量的。。。</h4>

        <div class="boxes">
            <div class="box text-block">
                <h2>蛋白质</h2>

                <h4>含有20种氨基酸的完整优质蛋白</h4>

                <p>在植物类的蛋白载体中是非常罕见的。</p>

                <p>奇雅子的蛋白含量丰富，比大豆更高，是纯牛奶的6倍。自古以来被视为战士和运动员增强免疫力的高能食物
                </p>
                <p class="text-right">
                    <a href="#"><i class="fa fa-long-arrow-right fa-2x"></i></a>
                </p>

            </div>
            <div class="box"><img src="style/images/components-1.png"></div>
            <div class="box"><img src="style/images/components-2.png"></div>
            <div class="box"><img src="style/images/components-3.png"></div>
        </div>
    </div>

    <div class="nutrition-charts">
        <h2>唯渥乐奇雅的营养对照</h2>
        <h4>经对照，我们得出如下结论。。。</h4>
        <img src="style/images/charts.png">
    </div>
</div>