.vvl-join {
  width: 100%;
  height: 557px;
  padding-right: 385px;
  padding-top: 82px;
  background-color: white;
  background: url("images/Image 5933.png") top right no-repeat;

  .text-1 {
    font-size: 28px;
  }

  .text-2 {
    font-size: 26px;
    font-weight: bold;
  }
}