<div class="vvl-chia">
    <div class="container banner text-center">

        <div class="mark">
            <h1>唯渥乐奇雅</h1>

            <h3>值得信赖和拥有，<br>带给您安心，美味和健康！</h3>
            <br>
            <a class="btn btn-buy" href="../list.html">购 买</a>

            <div class="brand-box center-block">
                <ul>
                    <li class=" border-right"><i class="fa fa-twitter"></i></li>
                    <li class=" border-right"><i class="fa fa-facebook"></i></li>
                    <li><i class="fa fa-linkedin"></i></li>
                </ul>
            </div>
        </div>
    </div>



</div>

