<footer>
    <!-- form controls -->
    <div class="join-form">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-3">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" ><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="姓名" aria-describedby="sizing-addon1">
                    </div>
                </div>
                <div class="col col-md-3">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                        <input type="text" class="form-control" placeholder="邮箱" aria-describedby="sizing-addon1">
                    </div>
                </div>
                <div class="col col-md-3">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                        <input type="text" class="form-control" placeholder="手机" aria-describedby="sizing-addon1">
                    </div>
                </div>
                <div class="col col-md-3">
                    <button class="btn btn-order">订购奇雅子</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-2">
                <div class="logo">
                    <img src="style/images/logo.png">
                </div>
            </div>
            <div class="col col-md-4 copyright text-left">
                <p>唯渥乐奇雅 2016<br>
                Designed by Jing Han, exclusively for codrops</p>
            </div>
            <div class="col col-md-6">
                <nav>
                    <ul>
                        <li><a ng-click="goto('vvl-top')"><h5 ng-class="{active: activeNavBtn=='vvl-top'}">唯渥乐奇雅 </h5></a></li>
                        <li><a ng-click="goto('vvl-history')"><h5 ng-class="{active: activeNavBtn=='vvl-history'}">历史</h5></a></li>
                        <li><a ng-click="goto('vvl-user-case')"><h5 ng-class="{active: activeNavBtn=='vvl-user-case'}">相信</h5></a></li>
                        <li><a ng-click="goto('vvl-nutrition')"><h5 ng-class="{active: activeNavBtn=='vvl-nutrition'}">营养</h5></a></li>
                        <li><a ng-click="goto('vvl-join')"><h5 ng-class="{active: activeNavBtn=='vvl-join'}">加入</h5></a></li>
                        <li><a ng-click="goto('vvl-top')"><h5>返回顶部 <i class="fa fa-chevron-up"></i></h5></a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

</footer>